/app/static/Black_Lagoon
/app/static/ChainsawMan
/app/static/CowboyBebop
/app/static/Black_Lagoon_samples
/app/static/ChainsawMan_samples
/app/static/CowboyBebop_samples
/app/psychic-mason-374614-ef84d96f27ae.json