/app/static/Black_Lagoon
/app/static/ChainsawMan
/app/static/CowboyBebop
/app/static/BakiHanma
/app/static/Dr.Stone
/app/static/AOT

/app/static/samples

/app/static/psychic-mason-374614-ef84d96f27ae.json