<!DOCTYPE html>
<html>
<head>
	<title>File List</title>
	<link rel="stylesheet" type="text/css" href="/static/css/episodes.css">
</head>
<body>
	<h1>{{ seriesname }}</h1>

	
	<div class="file-list">
		
			


		{% if seriesname == "ChainsawMan" %}

		<div class="search-bar">
			<input type="text" id="search-input" class="search-input" placeholder="Search episodes...">
			<button type="button" class="search-button" onclick="searchEpisodes()">Search</button>
		</div>

		{% for episode_num in episodes %}
		<div class="file-item-cs episode" data-episode="{{ episode_num }}" onclick="showLoadingPopup('{{ url_for('play', filename=episodes[episode_num]) }}')">
			<div class="file-name">Episode {{ episode_num }}</div>
			<div class="play-button">
				<div class="play-icon"></div>
			</div>
		</div>
		
		{% endfor %}
	{% elif seriesname == "Black_Lagoon" %}
	<div class="search-bar">
		<input type="text" id="search-input" class="search-input" placeholder="Search episodes...">
		<button type="button" class="search-button" onclick="searchEpisodes()">Search</button>
	</div>
	{% for episode_num in episodes %}
		<div class="file-item-bl episode" data-episode="{{ episode_num }}" onclick="showLoadingPopup('{{ url_for('play', filename=episodes[episode_num]) }}')">
			<div class="file-name">Episode {{ episode_num }}</div>
			<div class="play-button">
				<div class="play-icon"></div>
			</div>
		</div>
		{% endfor %}

		{% elif seriesname == "BakiHanma" %}
		<div class="search-bar">
			<input type="text" id="search-input" class="search-input" placeholder="Search episodes...">
			<button type="button" class="search-button" onclick="searchEpisodes()">Search</button>
		</div>
		{% for episode_num in episodes %}
			<div class="file-item-bh episode" data-episode="{{ episode_num }}" onclick="showLoadingPopup('{{ url_for('play', filename=episodes[episode_num]) }}')">
				<div class="file-name">Episode {{ episode_num }}</div>
				<div class="play-button">
					<div class="play-icon"></div>
				</div>
			</div>
			{% endfor %}
		{% elif seriesname == "Dr.Stone" %}
		<div class="search-bar">
			<input type="text" id="search-input" class="search-input" placeholder="Search episodes...">
			<button type="button" class="search-button" onclick="searchEpisodes()">Search</button>
		</div>
		{% for episode_num in episodes %}
			<div class="file-item-ds episode" data-episode="{{ episode_num }}" onclick="showLoadingPopup('{{ url_for('play', filename=episodes[episode_num]) }}')">
				<div class="file-name">Episode {{ episode_num }}</div>
				<div class="play-button">
					<div class="play-icon"></div>
				</div>
			</div>
			{% endfor %}
			{% elif seriesname == "AOT" %}
		<div class="search-bar">
			<input type="text" id="search-input" class="search-input" placeholder="Search episodes...">
			<button type="button" class="search-button" onclick="searchEpisodes()">Search</button>
		</div>
		{% for episode_num in episodes %}
			<div class="file-item-aot episode" data-episode="{{ episode_num }}" onclick="showLoadingPopup('{{ url_for('play', filename=episodes[episode_num]) }}')">
				<div class="file-name">Episode {{ episode_num }}</div>
				<div class="play-button">
					<div class="play-icon"></div>
				</div>
			</div>
			{% endfor %}
	{% else %}
	<div class="search-bar">
		<input type="text" id="search-input" class="search-input" placeholder="Search episodes...">
		<button type="button" class="search-button" onclick="searchEpisodes()">Search</button>
	</div>

	{% for episode_num in episodes %}
		<div class="file-item-cb episode" data-episode="{{ episode_num }}" onclick="showLoadingPopup('{{ url_for('play', filename=episodes[episode_num]) }}')">
			<div class="file-name">Episode {{ episode_num }}</div>
			<div class="play-button">
				<div class="play-icon"></div>
			</div>
		</div>
		{% endfor %}
	{% endif %}
	



	
	</div>
	
	<script>
		function showLoadingPopup(url) {
			var popup = document.createElement('div');
			popup.classList.add('loading-popup');
			popup.innerHTML = '<div class="spinner"></div><div class="message">Loading. Please wait...</div>';
			document.body.appendChild(popup);

			setTimeout(function() {
				window.location.href = url;
			}, 3000);
		}

		function searchEpisodes() {
			// Get the input value
			var input = document.getElementById("search-input").value.toLowerCase();
	
			// Get all the episode items
			var episodes = document.getElementsByClassName("episode");
	
			// Loop through all the episode items and hide/show them based on the search query
			for (var i = 0; i < episodes.length; i++) {
				var episode = episodes[i];
				var episodeNum = episode.getAttribute("data-episode");
				if (episodeNum.toLowerCase().indexOf(input) > -1) {
					episode.style.display = "";
				} else {
					episode.style.display = "none";
				}
			}
		}
	</script>
	</body>
</html>
	